<h1 data-name="<%= @repository.name %>"><%= @repository.name %></h1>

<% if @mentions.present? %>
<h2>Recent Twitter Mentions</h2>
<ul class="stackoverlow-mentions">
  <% @mentions.each do |mention| %>
    <li>
      <%= image_tag mention.profile_image_url %>
      <%= mention.from_user_name %> <%= time_ago_in_words mention.created_at %><br>
      <%= mention.text %>
    </li>
  <% end %>
</ul>
<% end %>


<% if @questions.present? %>
<h2>Recent StackOverflow Mentions</h2>
<ul class="stackoverlow-mentions">
  <% @questions.each do |question| %>
    <li><a href="http://stackoverflow.com/questions/<%= question.id %>"><%= question.title %></li>
  <% end %>
</ul>
<% end %>  

